<a href="<%= root_path %>" class="back-btn">home</a>
<div class="photos-div" data-controller="images" data-action="images#changeImageList">
    <div class="text-div">
        <ul>
            <li><a href="<%= photos_ardaarman_path %>">01 Arda Arman</a></li>
            <li><a href="<%= photos_brandon_path %>">02 Brandon</a></li>
            <li><a href="<%= photos_nyc_path %>">03 NYC</a></li>
            <li><a href="<%= photos_salomon_path %>">04 Salomon</a></li>
        </ul>
    </div>
    <div class="image-div">
        <%= image_tag ("ardaarman/a1.jpg"), :class => "image"%>
        <%= image_tag ("brandon/b1.jpg"), :class => "image"%>
        <%= image_tag ("nyc/ny1.jpg"), :class => "image"%>
        <%= image_tag ("salomon/s1.jpg"), :class => "image"%>
    </div>
</div>
